<!DOCTYPE html>
<html>
<script src="javascripts/common.js"></script>
<script src="javascripts/admin.js"></script>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="header-container">
            <div>
                <img src="/images/S6W9yfEf_400x400-removebg-preview.png" width="60" height="60" style="float:left;padding: 0.5rem;">
                <div class="headerFacultate">Universitatea Romano-Americana</div>
                <div id="profileDiv" class="userProfile">
                    <span id="profile"></span>
                    <button id="homeBtn" onclick="home()" class="aBtn">Home</button>
                    <button id="logOut" onclick="logOut()" class="aBtn">Log Out</button>
                </div>
            </div>
        </div>
        <div class="side-container">
            <h3 style="padding: 1rem 1rem 0rem 1rem;text-decoration: underline;">Tabele</h3>
            <span onclick="loadUsers()">Table Utilizatori</span>
            <br>
            <span onclick="loadTags()">Tabel Atribute</span>
            <br>
            <span onclick="loadRoles()">Table Roluri</span>
            <br>
        </div>
        <div class="document-container">
            <div>
                <input type="text" placeholder="Type Here..." id="contentSearch" class="contentSearch" onkeyup="srcBar()">
                <div id="adminBtn">
                    <button type="button" class="aBtn" id="addBtn" onclick="addEntry()">Adaugati</button>
                    <button type="button" class="aBtn" id="editBtn" onclick="editEntry()">Editare</button>
                    <button type="button" class="aBtn" id="removeBtn" onclick="deleteEntry()">Stergere</button>
                </div>
            </div>
            <div id="modifyUser" class="modal hidden roundBorders">
                <div class="modalHeader">
                    <button type="button" class="exitBtn" id="exitUserBtn" onclick="exitUserBtn()">Close</button>
                    <button type="button" class="applyBtn" id="applyUserBtn" onclick="applyUserBtn()">Apply</button>
                </div>
                <div class="modalContent pannelDiv">
                    <div>
                        <input type="text" id="user_id" title="UserId" placeholder="Id Utilizator..." readonly class="smallId">
                        <input type="text" id="first_name" placeholder="Nume..." title="Nume" class="blockSmallSpace">
                        <input type="text" id="last_name" placeholder="Prenume..." title="Prenume" class="blockSmallSpace">
                        <select id="role_name" name="roleSelect">
                            <option value="1">Student</option>
                            <option value="2">Profesor</option>
                            <option value="3">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="modifyTag" class="modal hidden roundBorders">
                <div class="modalHeader">
                    <button type="button" class="exitBtn" id="exitTagBtn" onclick="exitTagBtn()">Close</button>
                    <button type="button" class="applyBtn" id="applyTagBtn" onclick="applyTagBtn()">Apply</button>
                </div>
                <div class="modalContent pannelDiv">
                    <div>
                        <input type="text" id="tag_name" placeholder="Nume Atribut..." title="tagName" class="blockSmallSpace">
                        <textarea type="text" id="tag_value" placeholder="Valoare Atribut..." title="tagValue" class="blockSmallSpace"></textarea>
                    </div>
                </div>
            </div>
            <div id="cList"></div>
        </div>
    </div>
</body>

</html>