<!DOCTYPE html>
<html>
  <script src="javascripts/index.js"></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="header-container"><p>Universitatea Romano-Americana</p></div>
      <div class="side-container">
        <input type="text" placeholder="Type Here.." id="sideSearch" onkeyup="srcBar()">
        <ul id="sList"></ul>
      </div>
      <div class="document-container"><p>Content</p></div>
    </div>
  </body>
</html>
